Source: libtertiusqbit-application-model-db-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtest-differences-perl, libdbd-mock-perl, libtertiusqbit-perl, libtertiusqbit-class-perl, libtertiusqbit-application-perl, libdbi-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-db-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-class-perl, libtertiusqbit-application-perl, libdbi-perl
Conflicts: libqbit-application-model-db-perl
Replaces: libqbit-application-model-db-perl
Description: Base class for working with databases.
 Base class for working with databases. Use only it's descendants.
